<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ascii сайт{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <div>
        <a href="/">Ascii рисование</a>
        <a href="/gallery">Ascii галерея</a>
    </div>
    <div>{% block content%}{% endblock content %}</div>
    <div class = "bolt">
        <p>Все права защищены болтом, который на них положен</p>
    </div>
</body>
</html>